# top-most EditorConfig file
root = true

# Defaults for all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Specific for JavaScript, TypeScript, JSON, etc.
[*.{js,ts,jsx,tsx,json}]
indent_size = 2

# Specific for Markdown files
[*.md]
trim_trailing_whitespace = false

# For Python files
[*.py]
indent_size = 4
max_line_length = 88
